@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --pm:rgb(23,124, 229) ; 
    --drk:#333   ;
    --sc: #fff;
    --bd: #1f0d522c;

}

.dark-theme{
    --sc:#333   ;
    --drk: #fff;
    --bd: #0b0127a7;
}
body{
    background: var(--bd);
}

#icon{
    position: absolute;
    top: 4%;
    right: 4%;
    width: 30px;
    height: 30px;   
    width: 30px;
    cursor: pointer;
}


.quote-box{
    background: var(--sc);
    width: 95%;
    background:var(sc);
    max-width: 700px;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50% );
    padding: 40px;  
    border-radius: 10px;
    text-align: center; 
    box-shadow: 0 10px 20px 0  rgba(0,0,0,0.15);
}

.quote-box h2{
    color: var(--drk);
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}
.quote-box h2::after{
    content: '';
    width: 75px;
    height: 3px;    
    border-radius: 3px;
    background:var(--pm);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.quote-box blockquote{
    font-size: 26px;
    min-height: 110px;
    color: var(--drk);

}

.quote-box blockquote::before ,
.quote-box blockquote::after {
    content: '"';  
    color: var(--drk);
}

.quote-box span{
    display: block; 
    margin-top: 10px;
    float: right;
    position: relative; 
    color: var(--drk);
    

}

.quote-box span::before{
    content:'';
    width: 20px;
    height: 2px;
    background:var(--pm);   
    position: absolute; 
    top: 50%;
    left: -35%;
    color: var(--drk);
}

.quote-box div{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;    

}

.quote-box button{
    background: var(--pm);
    color:var(--sc);
    border: 1px solid var(--pm);
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;    
    justify-content: center;
    margin: 5px;
    border-radius: 35px;
    cursor: pointer;    
}
.quote-box button i{
    margin-right: 10px;
}

.quote-box button:nth-child(2){
    background: var(--sc);
    color: var(--pm);
}







